---
import WeiboIcon from './WeiboIcon.astro';
import BilibiliIcon from './BilibiliIcon.astro';
import GitHubIcon from './GitHubIcon.astro';
import DiscordIcon from './DiscordIcon.astro';
import EmailIcon from './EmailIcon.astro';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} ElliniaFairy. All rights reserved.
	<div class="social-links">
		<!-- <a href="https://github.com/ElliniaFairy" target="_blank">
			<span class="sr-only">Visit my GitHub</span>
			<GitHubIcon />
		</a> -->
		<a href="https://space.bilibili.com/3981688" target="_blank">
			<span class="sr-only">Visit my Bilibili</span>
			<BilibiliIcon />
		</a>
		<!-- <a href="https://discord.gg/your-invite" target="_blank">
			<span class="sr-only">Join my Discord</span>
			<DiscordIcon />
		</a> -->
		<a href="https://weibo.com/u/1666486042" target="_blank">
			<span class="sr-only">Follow me on Weibo</span>
			<WeiboIcon />
		</a>
		<a href="mailto:elliniaharbor@outlook.com">
			<span class="sr-only">Email me</span>
			<EmailIcon />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: rgb(var(--text-secondary));
		text-align: center;
		margin-top: 5em;
		width: 100%;
		box-sizing: border-box;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--text-secondary));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
	
	@media (max-width: 1024px) {
		footer {
			padding: 1.5em 1em 4em 1em;
		}
	}
	
	@media (max-width: 720px) {
		footer {
			padding: 1em 0.5em 3em 0.5em;
		}
	}
</style>
